# Template version of secrets file for new devs to fill in

database:
  password: "xxx xxx xxx"

rabbitmq:
  password: "xxx xxx xxx"

jwt:
  secret: "xxx xxx xxx"

smtp:
  user: mjlivetowork@gmail.com
  pass: "xxxx xxxx xxxx xxxx"

openai:
  moderation: xxx xxx xxx

recaptcha:
  key: abcdefghijklmnopqrstuvwxyz
